#startARDiv {
  background: url("./camera-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
}
#startARButton {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}
#startARButton img {
  display: block;
  width: 50vw;
  height: auto;
}

#cameraLogoImageTop {
  display: flex;
  position: absolute;
  top: 8%;
  width: 80%;
  height: auto;
}
#cameraLogoImage {
  display: flex;
  position: absolute;
  bottom: 3%;
  width: 50%;
  height: auto;
}
#cameraTextImage {
  display: flex;
  position: absolute;
  top: 30%;
  width: 90%;
  height: auto;
}
#landscape-div {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background: linear-gradient(172deg, #01bb00 8.36%, #017301 100.67%);
}
#landscape-div-img {
  height: 80%;
  width: auto;
}
/* #cameraButtonImage {
  display: flex;
  position: absolute;
  top: 70%;
  width: 50%;
  height: auto;
} */
